 .u-section-1 {
  background-position: 100% 50%, 0% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: url("images/ChatGPTImageOct8202503_49_57PM52.png"), url("images/ChatGPTImageOct8202503_49_57PM53-1.png"), url("images/ChatGPTImageSep9202504_27_55PM.png");
  background-size: contain, contain, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 573px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 120px;
  margin-bottom: 53px;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/ChatGPTImageOct8202503_49_57PM69.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  margin: 336px auto 0;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 0;
}

.u-section-1 .u-image-2 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-btn-2 {
  margin: -51px auto 0;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-1 .u-image-3 {
  min-height: 400px;
  background-image: url("images/ChatGPTImageOct8202503_49_57PM68.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-btn-3 {
  margin: 0 auto;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    height: 309px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-image-3 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 237px;
  }

  .u-section-1 .u-image-3 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1 .u-image-2 {
    height: 533px;
  }

  .u-section-1 .u-image-3 {
    min-height: 569px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 100% 94.46%, 0% 9.05%, 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 365px;
    background-position: 50% 74.14%;
    background-size: cover;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 262px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-1 .u-image-2 {
    height: 336px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -48px;
  }

  .u-section-1 .u-image-3 {
    min-height: 358px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 264px;
    padding-left: 0;
    padding-right: 0;
  }
}