 .u-section-1 {
  background-position: 100% 50%, 0% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: url("images/ChatGPTImageOct8202503_49_57PM52.png"), url("images/ChatGPTImageOct8202503_49_57PM53-1.png"), url("images/ChatGPTImageSep9202504_27_55PM.png");
  background-size: contain, contain, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-1 .u-image-1 {
  width: 518px;
  height: 411px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 349px -116px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 431px;
  height: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -487px auto 0 -43px;
}

.u-section-1 .u-image-3 {
  width: 1773px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: 1000px;
  margin: -553px auto 0 -316px;
}

.u-section-1 .u-image-4 {
  width: 49px;
  height: 39px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -730px auto 0 329px;
}

.u-section-1 .u-image-5 {
  width: 120px;
  height: 120px;
  margin: 181px auto 60px 492px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 57px;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 530px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -261px;
    margin-left: 509px;
  }

  .u-section-1 .u-image-5 {
    --animation-fade_in-opacity: 1;
    margin-right: 374px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 116px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 167px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 406px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -137px;
    margin-right: 362px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-image-1 {
    width: 279px;
    height: 279px;
    margin-top: 220px;
    margin-right: -123px;
  }

  .u-section-1 .u-image-2 {
    width: 331px;
    height: 276px;
    margin-top: -342px;
    margin-left: -188px;
  }

  .u-section-1 .u-image-3 {
    width: 917px;
    height: 773px;
    margin-top: -431px;
    margin-left: -188px;
    margin-right: -188px;
  }

  .u-section-1 .u-image-4 {
    width: 34px;
    height: 27px;
    margin-top: -562px;
    margin-right: auto;
    margin-left: 87px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 139px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-image-1 {
    width: 143px;
    height: 113px;
    margin-top: 176px;
    margin-right: -50px;
  }

  .u-section-1 .u-image-2 {
    width: 142px;
    height: 112px;
    margin-top: -104px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-3 {
    width: 459px;
    height: 483px;
    margin-top: -283px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-image-4 {
    width: 21px;
    height: 17px;
    margin-top: -350px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-5 {
    width: 58px;
    height: 58px;
    margin-top: 92px;
  }
}